{{#if text}}
  <a href="/{{id}}">{{text}}</a>
{{else}}
  <form method="post" action="/">
    <input type="hidden" name="parentId" value={{parentId}}>
    <input type="hidden" name="compass" value={{compass}}>
    <textarea name="text"></textarea>
    <br>
    <input type="submit">
  </form>
{{/if}}
